@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, 'Times New Roman', Times, serif;
  background-image: url('/images/background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: var(--font-geist-sans);
  
}

header h1 {
  font-size: 2em;
  color: #4CAF50;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4CAF50;
}

a:hover {
  color: #3e8e41;
}

div {
  position: "relative"
}

form input {
  padding: 10px;
  font-size: 1.2em;
  margin: 10px;
}

form button {
  padding: 10px;
  font-size: 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
}

form button:hover {
  background-color: #45a049;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.robot-animation {
  animation: bounce 2s infinite;
}


.button {
  background-color: #ff6f61;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 150px; /* Largeur minimale */
  text-align: center;
  display: flex;
  flex-direction: column; /* Alignement vertical */
  align-items: center; /* Centrer horizontalement */
  justify-content: center; /* Centrer verticalement */
  margin: 5px;
}

.button:hover {
  background-color: #ff3b2f;
}

.button img {
  width: 50px; /* Taille de l'image */
  margin-bottom: 10px; /* Espace entre l'image et le texte */
}